
/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

section {
  padding-top: 70px;
  background-image: url("https://cdn.discordapp.com/attachments/1026138328858378300/1158410250932719676/image.png?ex=651c251e&is=651ad39e&hm=896bb43766ade2b1af756b712e266c1a35d97411e3eba8922599fc4e5914e93f&");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 270vh;
}

.navbar-custom {
  background-color: #0b0c50;
}

.box {
  text-align: center;
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 5px solid #fff;
  border-radius: 20px;
  max-height: fit-content;
  box-shadow: 2px 3px 8px 10px #a5a5a5;
  padding-top: 20px;
  padding-bottom: 1px;
}

.profile {
  background-color: #fff;
  width: 300px;
  height: 40px;
  border: 2px solid #0b0c50;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.profile p {
  margin: 30px 0;
  color: #0b0c50;
  font-weight: 600;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 40px;
  justify-content: center;
  justify-items: center;
  padding-bottom: 20px;
}

.card-container .card {
  max-width: 100%;
}

.card-container .card-title {
  font-weight: bold;
  color: #333;
}

.card-container .card-text {
  color: #555;
}

.card img {
  max-width: 100%;
  border-radius: 24px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}

.total {
  background-color: #0b0c50;
  width: 450px;
  height: 50px;
  border: 2px solid #0b0c50;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.total h4 {
  margin: 30px 0;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
  border-radius: 20px;
}

.table-container table {
  width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  border-radius: 20px;
  background-color: #e2edf9;
  border: 6px solid #0b0c50;
  overflow: auto;
}

.table-container th {
  text-align: left;
  color: #e2edf9; 
  font-size: 18px; 
  background-color: #0b0c50;
  text-align: center;
  padding: 16px;
}

.table-container td {
  padding: 12px;
  text-align: center;
  background-color: #e2edf9; 
  color: #060a21; 
  line-height: 150%;
  border: 1px solid #fff;
}

.table-container th.top-left-th {
  background-color: #0b0c50;
  color: #e2edf9;
  border-radius: 5px 0 0 0;
}

.table-container th.top-right-th {
  background-color: #0b0c50;
  color: #e2edf9;
  border-radius: 0 5px 0 0;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 20px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 20px 0;
}

table tr:last-child td {
  background-color: #becddc;
  color: #160323;
  font-weight: 500;
}

.tablebutton {
  background-color: transparent;
  color: #0b0c50;
  margin: 5px;
  border: 1px solid #0b0c50;
  border-radius: 20px;
  padding: 5px 10px;
  display: inline-block;
  vertical-align: middle;
}

.add-product-button {
  background-color: #fff;
  color: #0b0c50;
  border: 2px solid #0b0c50;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 30px;
  font-weight: 600;
}
  
button:hover {
  background-color: #0b0c50;
  color: #fff;
}

.login_session {
  background-color: #fff;
  width: 400px;
  height: 25px;
  border: 1px solid #0b0c50;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.login_session p {
  color: #0b0c50;
  margin: 30px 0;
  text-align: center;
  font-weight: 600;
}