{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/edit_product.css' %}">
    <title>Edit Product</title>
{% endblock meta %}

{% block content %}
<body>
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <div class="container-fluid">
          <img src="https://cdn.discordapp.com/attachments/1026138328858378300/1158452747247562834/da.png?ex=651c4cb1&is=651afb31&hm=c66ff099f5ab7827dd663ae036a21c81833e4cfa6a843d821022fb2ef37e6d44&" style="max-height: 24px; padding-right: 12px;">
          <a class="navbar-brand" href="#" style="color: #fff;">AxelShopZz</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'main:show_main' %}" style="color: #fff;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: #fff;">Products</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fff;">
                  Account
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" style="color: #0b0c50;">Settings</a></li>
                  <li><a class="dropdown-item" href="#" style="color: #0b0c50;">Preferences</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'main:logout' %} " style="color: #0b0c50 ; font-weight: 700;">Logout</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true" style="color: #818181;">AxelShopZzPoints</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
    <section>
        <div class="form-container">
            <h1 class="title">Edit Product</h1>
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Edit Product"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </section>
</body>
{% endblock %}