{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
{% endblock meta %}

{% block content %}
<body>
    <section>
        <div class = "login">
            <h1>AxelShopZz</h1>
                <div class = "inputbox">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>Username: </td>
                                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                            </tr>
                                    
                            <tr>
                                <td>Password: </td>
                                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                            </tr>

                            <tr>
                                <td></td>
                                <td><input class="login_btn" type="submit" value="Log in"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}     
            <div class = register>
                Don't have an account yet? <a href="{% url 'main:register' %}">Register</a>
            </div>
        </div>
    </section>
</body>
{% endblock content %}