{% extends 'base.html' %}

{% load static %}

{% block meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <title>Home</title>
{% endblock meta %}

{% block content %}
<section>
  <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <div class="container-fluid">
          <img src="https://cdn.discordapp.com/attachments/1026138328858378300/1158452747247562834/da.png?ex=651c4cb1&is=651afb31&hm=c66ff099f5ab7827dd663ae036a21c81833e4cfa6a843d821022fb2ef37e6d44&" style="max-height: 24px; padding-right: 12px;">
          <a class="navbar-brand" href="#" style="color: #fff;">AxelShopZz</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: #fff;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:create_product' %}" style="color: #fff;">Add Product</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fff;">
                  Account
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" style="color: #0b0c50;">Settings</a></li>
                  <li><a class="dropdown-item" href="#" style="color: #0b0c50;">Preferences</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'main:logout' %} " style="color: #0b0c50 ; font-weight: 700;">Logout</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true" style="color: #818181;">AxelShopZzPoints</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <h1 style="color: #fff;">{{appname}} Main Page</h1>
  <div class="box">
      <div class="profile">
        <p>Welcome, {{name}} from {{class}}!</p>
      </div>
      <div id="product_card" class="card-container"></div>
      <div class="total">
        <h4>Product: {{ products|length }} item yang dipesan</h4>
      </div>


      <div class="table-container">
        <table id="product_table"></table>
      </div>

    <br />

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="form" onsubmit="return false;">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="name" class="col-form-label">Name:</label>
                      <input type="text" class="form-control" id="name" name="name"></input>
                  </div>
                  <div class="mb-3">
                    <label for="amount" class="col-form-label">Amount:</label>
                    <input type="number" class="form-control" id="amount" name="amount"></input>
                  </div>
                  <div class="mb-3">
                      <label for="price" class="col-form-label">Price:</label>
                      <input type="number" class="form-control" id="price" name="price"></input>
                  </div>
                  <div class="mb-3">
                      <label for="description" class="col-form-label">Description:</label>
                      <textarea class="form-control" id="description" name="description"></textarea>
                  </div>
                  <div class="mb-4">
                    <label for="image_url" class="col-form-label">Image Url:</label>
                    <textarea class="form-control" id="image_url" name="image_url"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="tablebutton" id="button_add" data-bs-dismiss="modal">Add Product</button>
              </div>
          </div>
      </div>
    </div>

    <button type="button" class="add-product-button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New Product</button>

  </div>
  <div class="login_session">
    <p>Last login session: {{ last_login }}</p>
  </div>
</section>

  <script>
    async function getProducts() {
      return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
      const productTable = document.getElementById("product_table");
      const products = await getProducts();
      let htmlString = `
      <table>
        <tr>
            <th class="top-left-th">Name</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
            <th class="top-right-th">Options</th>
        </tr>`;

      products.forEach((item) => {
        htmlString += `
          <tr>
            <td>${item.fields.name}</td>
            <td>${item.fields.amount}</td>
            <td>Rp.${new Intl.NumberFormat('id-ID').format(item.fields.price)}</td>
            <td>${item.fields.description}</td>
            <td>${item.fields.date_added}</td>
            <td class="d-flex align-items-center">
              <button onclick="increaseAmount(${item.pk})" class="tablebutton">+</button>
              <button onclick="decreaseAmount(${item.pk})" class="tablebutton">-</button>
              <a href="/edit-product/${item.pk}" class="tablebutton" style="text-decoration: none;">Edit</a>
              <a href="/remove_product/${item.pk}" class="tablebutton" style="text-decoration: none;">Delete</a>
            </td>
          </tr>`;
      });

      htmlString += `</table>`;
      productTable.innerHTML = htmlString;
    }

    refreshProducts();

    async function refreshCard() {
      const productCard = document.getElementById("product_card");
      productCard.innerHTML = ""; 
      const products = await getProducts();
      let htmlString = "";

      products.forEach((item) => {
          htmlString += `
              <div>
                <div class="card" style="width: 18rem; border-radius: 20px; padding-left: 10px; padding-right: 10px; align-items: center;">
                  <img class="card-img" src="${item.fields.image_url}" alt="Product Image">
                  <h3 style="margin: 20px 0px; font-size: 24px; font-weight: 700;">${item.fields.name}</h3>
                  <p>${item.fields.description}</p>
                  <p>${item.fields.amount} items</p>
                  <p>Rp.${new Intl.NumberFormat('id-ID').format(item.fields.price)}</p>
                  <p>Date Added : ${item.fields.date_added}</p>
                </div>
              </div>`;
        });
        document.getElementById("product_card").innerHTML = htmlString;
    }

    refreshCard();

    function addProduct() {
      fetch("{% url 'main:add_product_ajax' %}", {
          method: "POST",
          body: new FormData(document.querySelector('#form'))
      }).then(refreshProducts).then(refreshCard)

      document.getElementById("form").reset()
    }
    
    document.getElementById("button_add").onclick = addProduct
    
    function increaseAmount(productId) {
      fetch(`/increase_amount/${productId}`, {
        method: "POST",
        headers: {
            "X-CSRFToken": getCookie("csrftoken"),
        },
      })
        .then(() => refreshProducts())
        .catch((error) => console.error("Error:", error));
    }

    function decreaseAmount(productId) {
      fetch(`/decrease_amount/${productId}`, {
        method: "POST",
        headers: {
            "X-CSRFToken": getCookie("csrftoken"),
        },
      })
        .then(() => refreshProducts())
        .catch((error) => console.error("Error:", error));
    }

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === name + "=") {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

  </script>

{% endblock content %}